{% extends 'layouts/base.html' %}
{% load filter-template %}

{% block header %}
<h1 align="center">AD GROUP NAME</h1><BR><BR>
{% endblock %}



{% block content  %}


 <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Logs </h4>
                    <p class="card-category pull-right">количество : </p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">

<table class="table">
<thead class="text-primary">
<tr>

        <th class="font-weight-normal"><b>Logs</b></th>

    {% if request.user.is_authenticated %}
        <th class="font-weight-normal"> </th>
        {% endif %}
</tr>
</thead>
    <tbody>
    <tr>
        {% if data %}
            {% for i_data in data %}

        <th class="font-weight-normal">{{ i_data }} </th>



</tr>

            {% endfor %}
        {% endif %}

</tbody>
</table>
 </div>
                </div>
              </div>
            </div>
</div>

 <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Logs ideco</h4>
                    <p class="card-category pull-right">количество : </p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">

<table class="table">
<thead class="text-primary">
<tr>

        <th class="font-weight-normal"><b>Logs Ideco</b></th>

    {% if request.user.is_authenticated %}
        <th class="font-weight-normal"> </th>
        {% endif %}
</tr>
</thead>
    <tbody>
    <tr>
        {% if data %}
            {% for i_data in ideco %}

        <th class="font-weight-normal">{{ i_data }} </th>



</tr>

            {% endfor %}
        {% endif %}

</tbody>
</table>
 </div>
                </div>
              </div>
            </div>
</div>


{% endblock %}